/*
* @Author: axii
* @Date:   2017-08-19 14:03:17
* @Last Modified by:   Minutes1999
* @Last Modified time: 2017-08-20 17:15:53
*/
div.ex{
	background-color: #eef;
	border:solid 1px black;
	height: 100px;
	width: 100px;
	margin-left: 100px;
}
p.flip{
	margin: 0px;
	padding: 5px;
	text-align: center;
	background: #e5eecc;
	border: solid 1px black;
}
div.panel{
	height: 200px;
	background-color: #eef;
	padding: 7px;
	border:solid 1px black;
}
div.chaining{
	position: relative;
	left: 300px;
}
p.chain{
	position: relative;
	left: 300px;
}
div.center{
	text-align: center;
}