/*
* @Author: axii
* @Date:   2017-08-19 14:03:17
* @Last Modified by:   minutes1999
* @Last Modified time: 2017-08-22 16:50:13
*/
.ex{
	background-color: #eef;
	border:solid 1px black;
	height: 100px;
	width: 100px;
	margin-left: 100px;
}
.flip{
	margin: 0px;
	padding: 5px;
	text-align: center;
	background: #e5eecc;
	border: solid 1px black;
}
.panel{
	height: 200px;
	background-color: #eef;
	padding: 7px;
	border:solid 1px black;
}
.chaining{
	position: relative;
	left: 300px;
}
.chain{
	position: relative;
	left: 300px;
}
.center{
	text-align: center;
}
.blue{
	color: blue;
	font-size: 24;
}