/*
* @Author: axii
* @Date:   2017-08-23 15:52:56
* @Last Modified by:   axii
* @Last Modified time: 2017-08-23 17:43:32
*/
html,body{
    height: 100%;
    width: 100%;
}
.float_left{
	float: left;
}
.float_right{
	float: right;
}
.center_axii{
	text-align: center;
}
.text_words_family{
	font-family: Helvetica;
	font-size: 28;
}
